<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.sai.mapper.AdminRoleRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wen.sai.model.AdminRoleRelation">
        <id column="id" property="id"/>
        <result column="admin_id" property="adminId"/>
        <result column="role_id" property="roleId"/>
        <result column="is_deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_id, role_id, is_deleted, create_time, update_time
    </sql>

    <!-- 根据后台用户 ID 获取后台角色列表 -->
    <select id="listByAdminId" resultMap="com.wen.sai.mapper.RoleMapper.BaseResultMap">
        select t2.*
        from ums_admin_role_relation t1
                 left join ums_role t2 on t1.role_id = t2.id
        where t1.admin_id = #{adminId}
    </select>

</mapper>
